version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps"
      include: scope
    labels:
      - "dependencies"
    groups:
      golang-x:
        patterns: ["golang.org/x/*"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps"
      include: scope
    labels:
      - "dependencies"
