name: go test

on:
  pull_request:
    branches: [ main ] 

jobs:
  test: 
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go-version: ['1.21', '1.22', '1.23', '1.24']

    steps:
      - name: checkout code
        uses: actions/checkout@v6 

      - name: setup go
        uses: actions/setup-go@v6 
        with:
          go-version: ${{ matrix.go-version }} 
          cache: true 

      - name: run go tests
        run: go test -v ./... 
