name: Security Scan with Gosec

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  security:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    env:
      GO111MODULE: on
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          
      - name: Run Gosec Security Scanner (Text Output)
        uses: securego/gosec@master
        continue-on-error: true
        with:
          args: '-fmt text ./...'
          
      - name: Run Gosec Security Scanner (SARIF Output)
        uses: securego/gosec@master
        continue-on-error: true
        with:
          args: '-fmt sarif -out results.sarif ./...'
          
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: results.sarif
